#corpo {
    margin-top: 10vh;
}

.yellow{
    background-color: #f5d442;
}

.btn-primary{
     background-color: #f5d442;
     border-color: #f5d442;
}

.btn-primary {
    background-color: #f5d442;
    border-color: #f5d442;
    color: black;
}

.btn-primary:hover {
    background-color: black;
    border-color: black; 
    color: white;
}
