@font-face {
    font-family: "SF-Pro-Display";
    src: url(../font/SF-Pro-Display-Regular.ttf) format('truetype')}
    

@font-face{
    font-family: "SF-Pro-Display-Bold";
    src: url(../font/SF-Pro-Display-Bold.ttf) format('truetype')}

@font-face {
    font-family: "Product Sans";
    src: url(../font/Product\ Sans\ Regular.ttf) format('truetype')}

*{
    font-family: "SF-Pro-Display";
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 1vh;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{

    background: #7b42f5;

    border-radius: 100vh;

}
::-webkit-scrollbar-thumb:hover{
    background: #cd93ff;
}

.navbar-custom {
    background-color: #7950f2;
}
/* Modify brand and text color */
 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #fff;
    transition: 0.2s;
}
.navbar-custom:hover .navbar-brand:hover,
.navbar-custom:hover .navbar-text:hover {
    color: #d4cee6;
}

#link{
    color: #cac0e9;
}
#link:hover{
    color: #a994e8;
}

