@font-face{
    font-family: "SF-Pro-Display-Bold";
    src: url(../font/SF-Pro-Display-Bold.ttf) format('truetype')}

.foto {
    max-width: 15vh;
    border-radius: 4px;
}

.card1 {
    max-width: 80vh;
}

#corpo {
    margin-top: 9vh;
}

.font1 {
    font-family: SF-Pro-Display-Bold;
}

.text1 {
    text-align: center;
}


